# Documention Pandas

### 1. import Pandas

In [1]:
import pandas as pd

### 2. Creating Data

#### a. DataFrame

-> Create DataFrame

In [4]:
pd.DataFrame({'Yes': [50,32], 'No': [131,22]})

   Yes   No
0   50  131
1   32   22

In [5]:
pd.DataFrame({'Bob': ['I liked it.', 'It was awful'], 'Sue':['Pretty Baby','Bland']})

            Bob          Sue
0   I liked it.  Pretty Baby
1  It was awful        Bland

-> Row Label

In [7]:
pd.DataFrame({'Bob': ['Yeah', 'Hello'], 'Sue':['Hey', 'Bye']},

index = ['Product A', 'Product B']

)

             Bob  Sue
Product A   Yeah  Hey
Product B  Hello  Bye

#### b. Series

-> It is sequence of data values, if DataFrames is a table, a series is a list.

In [3]:
pd.Series([1,2,3,4,5])

0    1
1    2
2    3
3    4
4    5
dtype: int64

-> Series doesn't have column names.

-> Print overall name of series.

In [11]:
pd.Series([40,45,50], index=['2015 Sales','2016 Sales', '2017 Sales'], name='Product A')

2015 Sales    40
2016 Sales    45
2017 Sales    50
Name: Product A, dtype: int64

### Reading Data Files

-> Many times we work on other's data and save things in CSV(Common Separated Values) file.

-> Read CSV files

In [12]:
# wine_review = pd.read_csv("Logo.csv")

-> Used shape properties to check how large resulting is.

In [13]:
# wine_reviews.shape

-> Head()-> It is used to grab first five rows.

In [14]:
# wine_reviews.head()

-> Make pandas use that column for the index.

In [15]:
# wine_review = pd.read_csv("URL.csv", index_col = 0)
# wine_review.head()

### CRUD Exercise

-> 1. Create DataFrame

In [4]:
# Your code goes here. Create a dataframe matching the above diagram and assign it to the variable fruits.
import pandas as pd

fruits = pd.DataFrame(
    {
        'Apple' : [30],
        'Banana': [21],
    }
)

# Check your answer
fruits

   Apple  Banana
0     30      21

-> Create Fruit_Sales

In [5]:
fruit_sales = pd.DataFrame({
    'Apples':[35,41],
    'Bananas':[21,34]
},

index = ['2017 Sales','2018 Sales']

)

fruit_sales

            Apples  Bananas
2017 Sales      35       21
2018 Sales      41       34

-> 3. Create a variables "ingredients"  with series

In [ ]:
ingredients = pd.Series(
    [
        '4 Cups', '1 Cup', '2 Large', '1 Can'
    ],
    
    index = ['Flour','Milk','Eggs','Spam'],

    name = 'Dinner'
)

ingredients

TypeError: unhashable type: 'list'

-> Download Dataset using Kagglehub

In [4]:
# Install and Import Kaggle Files
# %pip install kagglehub

import pandas as pd
import kagglehub

# Download latest version
path = kagglehub.dataset_download("zynicide/wine-reviews")

print("Path to dataset files:", path)

Path to dataset files: C:\Users\adity\.cache\kagglehub\datasets\zynicide\wine-reviews\versions\4

-> Read CSV dataset

In [1]:
import pandas as pd
import os

# Load the file
reviews = pd.read_csv(r"C:\Users\adity\.cache\kagglehub\datasets\zynicide\wine-reviews\versions\4\winemag-data_first150k.csv")
print(reviews.head(2))
print("üéâ SUCCESS! Dataset loaded!")

   Unnamed: 0 country                                        description  \
0           0      US  This tremendous 100% varietal wine hails from ...
1           1   Spain  Ripe aromas of fig, blackberry and cassis are ...

                            designation  points  price        province  \
0                     Martha's Vineyard      96  235.0      California
1  Carodorum Selecci√≥n Especial Reserva      96  110.0  Northern Spain

      region_1 region_2             variety                   winery
0  Napa Valley     Napa  Cabernet Sauvignon                    Heitz
1         Toro      NaN       Tinta de Toro  Bodega Carmen Rodr√≠guez
üéâ SUCCESS! Dataset loaded!

https://www.kaggle.com/code/onlywithaditya/exercise-creating-reading-and-writing/edit

-> 5. Create Dataframe Animals

In [11]:
animals = pd.DataFrame({
    'Cows': [22,19],
    'Goats': [22,19]},

    index = ['Year 1', 'Year 2']

)

animals

        Cows  Goats
Year 1    22     22
Year 2    19     19

## Indexing, Selecting & Assigning

In [14]:
reviews.head()

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
0,0,US,This tremendous 100% varietal wine hails from ...,Martha's Vineyard,96,235.0,California,Napa Valley,Napa,Cabernet Sauvignon,Heitz
1,1,Spain,"Ripe aromas of fig, blackberry and cassis are ...",Carodorum Selecci√≥n Especial Reserva,96,110.0,Northern Spain,Toro,NaN,Tinta de Toro,Bodega Carmen Rodr√≠guez
2,2,US,Mac Watson honors the memory of a wine once ma...,Special Selected Late Harvest,96,90.0,California,Knights Valley,Sonoma,Sauvignon Blanc,Macauley
3,3,US,"This spent 20 months in 30% new French oak, an...",Reserve,96,65.0,Oregon,Willamette Valley,Willamette Valley,Pinot Noir,Ponzi
4,4,France,"This is the top wine from La B√©gude, named aft...",La Br√ªlade,95,66.0,Provence,Bandol,NaN,Provence red blend,Domaine de la B√©gude

In [15]:
reviews.country

0             US
1          Spain
2             US
3             US
4         France
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [16]:
reviews['country']

0             US
1          Spain
2             US
3             US
4         France
           ...
150925     Italy
150926    France
150927     Italy
150928    France
150929     Italy
Name: country, Length: 150930, dtype: object

In [18]:
reviews['country'][0]

'US'

#### Indexing

-> Indexing is just work like in all python system.

-> However Pandas, has own accesssor operator
loc and iloc.

##### Index Based Selection

Index-Based Selection: Selecting data based on its  numerical position in the data. {iloc}

In [ ]:
reviews.iloc[0]

Unnamed: 0                                                     0
country                                                       US
description    This tremendous 100% varietal wine hails from ...
designation                                    Martha's Vineyard
points                                                        96
price                                                      235.0
province                                              California
region_1                                             Napa Valley
region_2                                                    Napa
variety                                       Cabernet Sauvignon
winery                                                     Heitz
Name: 0, dtype: object

-> Both iloc and loc are row-first and column second. Which is opposite of what we used to do in native python.

In [ ]:
reviews.iloc[:,0] # This is first row and first column.

0              0
1              1
2              2
3              3
4              4
           ...
150925    150925
150926    150926
150927    150927
150928    150928
150929    150929
Name: Unnamed: 0, Length: 150930, dtype: int64

In [ ]:
#reviews.iloc[:4,1]
# [Row, Columns]
# [2:,1] From 2 row to end and 1 column
# [:4, :] From 0 to 4th row and all columns
reviews.iloc[3,3] # 3 Row and 3 Col.

'Reserve'

In [ ]:
reviews.iloc[1:3,0] # Select Rows 1 - 3, 0

1    1
2    2
Name: Unnamed: 0, dtype: int64

In [ ]:
reviews.iloc[[0,1,2],0]  # Select Rows 0,1,2.

0    0
1    1
2    2
Name: Unnamed: 0, dtype: int64

In [94]:
reviews.iloc[-5:]

,Unnamed: 0,country,description,designation,points,price,province,region_1,region_2,variety,winery
150925,150925,Italy,Many people feel Fiano represents southern Ita...,NaN,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Feudi di San Gregorio
150926,150926,France,"Offers an intriguing nose with ginger, lime an...",Cuv√©e Prestige,91,27.0,Champagne,Champagne,NaN,Champagne Blend,H.Germain
150927,150927,Italy,This classic example comes from a cru vineyard...,Terre di Dora,91,20.0,Southern Italy,Fiano di Avellino,NaN,White Blend,Terredora
150928,150928,France,"A perfect salmon shade, with scents of peaches...",Grand Brut Ros√©,90,52.0,Champagne,Champagne,NaN,Champagne Blend,Gosset
150929,150929,Italy,More Pinot Grigios should taste like this. A r...,NaN,90,15.0,Northeastern Italy,Alto Adige,NaN,Pinot Grigio,Alois Lageder

##### Label-Based Selection

-> This is used loc operator.

-> It's the data index value, not its position.

In [105]:
reviews.loc[0,'country'] # [Position, Country Column]

'US'

In [106]:
reviews.loc[:, ['country','description','points']]

       country                                        description  points
0           US  This tremendous 100% varietal wine hails from ...      96
1        Spain  Ripe aromas of fig, blackberry and cassis are ...      96
2           US  Mac Watson honors the memory of a wine once ma...      96
3           US  This spent 20 months in 30% new French oak, an...      96
4       France  This is the top wine from La B√©gude, named aft...      95
...        ...                                                ...     ...
150925   Italy  Many people feel Fiano represents southern Ita...      91
150926  France  Offers an intriguing nose with ginger, lime an...      91
150927   Italy  This classic example comes from a cru vineyard...      91
150928  France  A perfect salmon shade, with scents of peaches...      90
150929   Italy  More Pinot Grigios should taste like this. A r...      90

[150930 rows x 3 columns]

Choosing between loc and iloc
-> Keep this in mind both are slightly different indeing schemas

iloc-> First element of the range is included and the last one is excluded.

loc-> This can index any tpye: string also.

#### Manipulating the Index

P