## SQL and SQLite

In [ ]:
# SQL(Structured Query Langauge) is a standard language for managing and manipulating relational databases.
# SQLite is a self-contained, serverless, and zero-configuration database engine that is widely used for embedded database systems. 
# In this lesson, we will cover the basics of SQL and SQLite, including creating databases, tables and performing variousn SQL operations.

In [ ]:
# import sqlite
import sqlite3

In [3]:
## Connect to an SQLite database.
connection = sqlite3.connect('example.db')
connection

In [4]:
cursor = connection.cursor()

In [6]:
# Create a table using cursor function.
cursor.execute('''     
CREATE TABLE IF NOT EXISTS EMPLOYEE(
        ID INTEGER PRIMARY KEY,
        NAME TEXT NOT NULL,
        AGE INTERGER,
        DEPARTMENT TEXT
)
''')

## Commit the changes.
connection.commit()

In [ ]:
# Create a table using cursor function.
cursor.execute('''     
SELECT * FROM EMPLOYEE;
''')

## It is return object, we know later how to read data.

In [ ]:
# Insert data in sqlite table.
cursor.execute('''
        INSERT INTO EMPLOYEE(NAME, AGE, DEPARTMENT)
        VALUES
        ('Aditya', 22, 'Developer'),
        ('Rahul', 20, 'Data Analysit'),
        ('Sourabh', 21, 'Junior Developer');
''')

## Commit the changes.
connection.commit()

In [ ]:
# Quering the data from sqlite3 table.
cursor.execute(
    'SELECT * FROM EMPLOYEE'
)

# We used this to print the query data.
rows = cursor.fetchall()

for row in rows:
    print(row)
# In tuple format.

(1, 'Aditya', 22, 'Developer')
(2, 'Rahul', 20, 'Data Analysit')
(3, 'Sourabh', 21, 'Junior Developer')

In [14]:
# Updata the data in the table.
cursor.execute(
    '''
    UPDATE EMPLOYEE
    SET AGE = 24
    WHERE NAME = "Rahul";
'''
)

# Commit changes.
connection.commit()

In [16]:
# Check new update values.
cursor.execute(
    'SELECT * FROM EMPLOYEE;'
)


rows = cursor.fetchall()
for row in rows:
    print(row)

(1, 'Aditya', 22, 'Developer')
(2, 'Rahul', 24, 'Data Analysit')
(3, 'Sourabh', 21, 'Junior Developer')

In [25]:
# Delete data from table.
cursor.execute(
    'Delete from employee where name = "Rahul";'
)

connection.commit()

In [26]:
# Print all rows.
cursor.execute(
    'SELECT * FROM EMPLOYEE;'
)

rows = cursor.fetchall()

for row in rows:
    print(rows)

[(1, 'Aditya', 22, 'Developer'), (3, 'Sourabh', 21, 'Junior Developer')]
[(1, 'Aditya', 22, 'Developer'), (3, 'Sourabh', 21, 'Junior Developer')]

In [ ]:
# To execute bulk data you can use, cursor.executemany()
# cursor.insertmany()

In [29]:
# Close connection.
connection.close()